#root {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}


.app {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.app-header {
    padding: 1rem;
    background-color: #5e5c59;
    border-radius: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

.app-header-save-btn {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
    font-size: 0.75rem;
}

.app-main {
    flex: 1;
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app-main-kanban {
    flex: 1;
    background-color: #333;
    border-radius: 1rem;
    padding: 1rem;
}

.kanban-todo {
    background-color: #f0f3be;
}

.kanban-doing {
    background-color: #addae8;
}

.kanban-done {
    background-color: #ace6ac;
}

.kanban-title {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #434343;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kanban-add-btn {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
    font-size: 0.75rem;
}

.kanban-item-list {
    list-style: none;
    padding: 1rem 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    height: calc(100% - 3rem);
}

.kanban-item {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    background-color: #ffffff42;
    color: #333;
}

.kanban-item-name {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    height: 3rem;
}

.kanban-item-date {
    font-size: 0.8rem;
    color: #666;
    text-align: right;
}

.kanban-item-input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #575757;
    font-size: 1rem;
    font-weight: bold;

    &:focus {
        outline: rgba(177, 177, 177, 0.5) solid 2px;
    }
}